body{
  
  width: 90%;
 
margin-left: auto;
margin-right: auto;
border-radius:  40px;

}

h1{
  background-color:#87CEFA;
font-size: 30px;
  text-align: center;
  font-family: fantasy;
  color: #722ba1

}

.par1{
	  background-color:#87CEFA;

  text-align:  left;
  font-family: cursive;
  border-radius:  10px;
font-size: 20px;
border-width: 1px;
width: 600px;
height: 50px;
padding: 10px;
margin-left: 300px;
margin-right: 50px;
}
.par2{
  background-color:#87CEFA;

font-family: cursive;
font-size: 20px;
border-width: 1px;
text-align: left;
border-radius: 10px;
font-size: 20px;

width: 600px;
height: 50px;
padding: 10px;

margin-left: 300px;
margin-right: 50px;
}

.title{
  background-color:#87CEFA;

  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 10px;
 
  margin-left: 300px;
  margin-right: 50px;

}
.des{
  background-color: #87CEFA;

  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 10px;

  margin-left: 300px;
  margin-right: 50px;

}

.Continent{
  background-color: #87CEFA;

  text-align: center;
  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
 
  width: 600px;
  height: 50px;
  padding: 10px;

  margin-left: 300px;
  margin-right: 50px;
}
.Country{
  background-color:#87CEFA;

  text-align: center;
  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 10px;
 
  margin-left: 300px;
  margin-right: 50px;
}
.state{
  background-color: #87CEFA;

  text-align: center;
  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;

  width: 300px;
  height: 50px;
  padding: 10px;
 
  margin-left: 300px;
  margin-right: 50px;
}

.city{
  background-color:#87CEFA;

  text-align: center;
  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 10px;

  margin-left: 300px;
  margin-right: 50px;

}

.range{
  background-color:#87CEFA;

  text-align: center;
  font-family: cursive;

  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 5px;

  margin-left: 300px;
  margin-right: 50px;

}

.color{
  background-color:#87CEFA;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
 
  width: 600px;
  height: 50px;
  padding: 5px;
 
  margin-left: 300px;
  margin-right: 50px;
}

.copy{
  background-color: #87CEFA;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  border-width: 1px;
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  padding: 5px;
  border: 2px solid #722ba1;
  margin-left: 300px;
  margin-right: 50px;

}

.creative{
  background-color: #87CEFA;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 5px;
 
  margin-left: 300px;
  margin-right: 50px;

}
.date{
  background-color: #87CEFA;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  
  width: 600px;
  height: 50px;
  padding: 5px;
  
  margin-left: 300px;
  margin-right: 50px;
}

.submit{
  background-color: green;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;

  width: 100px;
  height: 40px;
  padding: 5px;
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;

}
.ss{
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: #87CEFA;
  background-color: green;
}

.clear{
  background-color: #87CEFA;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  border-width: 1px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  border-width: 1px;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  padding: 5px;

  margin-left: auto;
  margin-right: auto;
}
.s1{
  text-align: center;
  font-size: 15px;
}
.s2{
  text-align: left;
  font-size: 15px;
}